backup/
*/backup/
**/backup/
access/
*/access/
**/access/

*.vhdx

msaccess/
*/msaccess/
**/msaccess/


mongo_backup/
*/mongo_backup/
**/mongo_backup/

backup/
*/backup/
**/backup/

.vscode/
*/.vscode/
.env
".env" 
