backup/
*/backup/
**/backup/
access/
*/access/
**/access/

*.vhdx

msaccess/
*/msaccess/
**/msaccess/


mongo_backup/
*/mongo_backup/
**/mongo_backup/

mongo_backup_dev/
*/mongo_backup_dev/
**/mongo_backup_dev/

backup/
*/backup/
**/backup/

.vscode/
*/.vscode/
.env
".env" 

/mongo_backup_dev/ 
/mongo_backup/


